BODY {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DIV {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
OL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H6 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
PRE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
CODE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FIELDSET {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LEGEND {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
INPUT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
BUTTON {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TEXTAREA {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
P {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
BLOCKQUOTE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TH {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FIELDSET {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
IMG {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
:focus {
	OUTLINE-WIDTH: 0px
}
ADDRESS {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
CAPTION {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
CITE {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
CODE {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
DFN {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
EM {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
STRONG {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
TH {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
VAR {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
OPTGROUP {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
H1 {
	FONT-SIZE: 100%; FONT-WEIGHT: normal
}
H2 {
	FONT-SIZE: 100%; FONT-WEIGHT: normal
}
H3 {
	FONT-SIZE: 100%; FONT-WEIGHT: normal
}
H4 {
	FONT-SIZE: 100%; FONT-WEIGHT: normal
}
H5 {
	FONT-SIZE: 100%; FONT-WEIGHT: normal
}
H6 {
	FONT-SIZE: 100%; FONT-WEIGHT: normal
}
ABBR {
	BORDER-RIGHT-WIDTH: 0px; FONT-VARIANT: normal; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
ACRONYM {
	BORDER-RIGHT-WIDTH: 0px; FONT-VARIANT: normal; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
INPUT {
	FONT-FAMILY: inherit
}
BUTTON {
	FONT-FAMILY: inherit
}
TEXTAREA {
	FONT-FAMILY: inherit
}
SELECT {
	FONT-FAMILY: inherit
}
OPTGROUP {
	FONT-FAMILY: inherit
}
OPTION {
	FONT-FAMILY: inherit
}
CODE {
	FONT-SIZE: 100%
}
KBD {
	FONT-SIZE: 100%
}
SAMP {
	FONT-SIZE: 100%
}
TT {
	FONT-SIZE: 100%
}
INPUT {
	FONT-SIZE: 100%
}
BUTTON {
	FONT-SIZE: 100%
}
TEXTAREA {
	FONT-SIZE: 100%
}
SELECT {
	FONT-SIZE: 100%
}
BODY {
	LINE-HEIGHT: 1.5; FONT-FAMILY: "ו", Tahoma
}
OL {
	LIST-STYLE-TYPE: none
}
UL {
	LIST-STYLE-TYPE: none
}
TABLE {
	BORDER-SPACING: 0; BORDER-COLLAPSE: collapse
}
CAPTION {
	TEXT-ALIGN: left
}
TH {
	TEXT-ALIGN: left
}
SUP {
	FONT-SIZE: 100%; VERTICAL-ALIGN: baseline
}
SUB {
	FONT-SIZE: 100%; VERTICAL-ALIGN: baseline
}
:link {
	TEXT-DECORATION: none
}
:visited {
	TEXT-DECORATION: none
}
INS {
	TEXT-DECORATION: none
}
BLOCKQUOTE {
	QUOTES: none
}
Q {
	QUOTES: none
}
BLOCKQUOTE:before {
	CONTENT: none
}
BLOCKQUOTE:after {
	CONTENT: none
}
Q:before {
	CONTENT: none
}
Q:after {
	CONTENT: none
}
#wrap {
	MARGIN: 0px auto; WIDTH: 778px; BACKGROUND: #fff
}
#head2 {
	HEIGHT: 94px
}
#head_top {
	BACKGROUND: url(../images/bg_head.jpg) #fff repeat-x; HEIGHT: 70px
}
#head_top DIV.left {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; WIDTH: 440px; PADDING-RIGHT: 0px; FLOAT: left; HEIGHT: 55px; PADDING-TOP: 15px
}
#head_top DIV.right {
	WIDTH: 328px; FLOAT: right; HEIGHT: 50px; PADDING-TOP: 20px
}
#head_top P {
	TEXT-ALIGN: right; LINE-HEIGHT: 20px; PADDING-RIGHT: 10px
}
#head_top P.time {
	HEIGHT: 20px
}
#head_top P.navtop {
	TEXT-INDENT: 0px; HEIGHT: 20px
}
#head_middle {
	BORDER-BOTTOM-STYLE: none; HEIGHT: 24px
}
#mainnav {
	TEXT-ALIGN: center; LINE-HEIGHT: 24px; BACKGROUND: url(../images/bg_nav.jpg) #cb030d no-repeat; HEIGHT: 24px
}
#mainnav P {
	BACKGROUND: url(../images/bg_nav.jpg) no-repeat right -30px
}
#mainnav SPAN {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 13px; PADDING-RIGHT: 13px; PADDING-TOP: 0px
}
#subnav {
	TEXT-ALIGN: center; LINE-HEIGHT: 26px; BACKGROUND: url(../images/bg_nav.jpg) repeat-x 0px -60px; HEIGHT: 25px; OVERFLOW: hidden
}
#right_login LI {
	PADDING-LEFT: 10px; WIDTH: 31px; BACKGROUND: url(../images/icon.gif) no-repeat 3px 5px; FLOAT: left
}
#navquick {
	BORDER-BOTTOM: #cb030d 1px solid; LINE-HEIGHT: 24px; BACKGROUND: #fff; HEIGHT: 23px; COLOR: #cb020c; FONT-SIZE: 12px; OVERFLOW: hidden; BORDER-TOP: #cb030d 1px solid
}
#footet {
	BACKGROUND: #fff; HEIGHT: 70px; CLEAR: both; BORDER-TOP: #cb030d 4px solid
}
#footet DIV#left {
	TEXT-ALIGN: center; LINE-HEIGHT: 70px; WIDTH: 198px; FLOAT: left
}
#footet DIV#center {
	LINE-HEIGHT: 20px; WIDTH: 382px; FLOAT: left; PADDING-TOP: 15px
}
#footet DIV#right {
	TEXT-ALIGN: center; LINE-HEIGHT: 70px; WIDTH: 198px; FLOAT: right; COLOR: #cb030d; FONT-SIZE: 12px
}
#footet SPAN.tel {
	FONT-STYLE: italic; FONT-FAMILY: Arial; FONT-SIZE: 15px; FONT-WEIGHT: bold
}
.f_000_12 {
	COLOR: #000; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.f_000_12 A:link {
	COLOR: #000; TEXT-DECORATION: none
}
.f_000_12 A:visited {
	COLOR: #000; TEXT-DECORATION: none
}
.f_000_12 A:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
.f_000_12_b {
	COLOR: #000; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.f_000_12_b A:link {
	COLOR: #000; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.f_000_12_b A:visited {
	COLOR: #000; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.f_000_12_b A:hover {
	COLOR: #ff0000; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
.f_fff_13 {
	COLOR: #fff; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.f_fff_13 A:link {
	COLOR: #fff; TEXT-DECORATION: none
}
.f_fff_13 A:visited {
	COLOR: #fff; TEXT-DECORATION: none
}
.f_fff_13 A:hover {
	COLOR: #ffcc00; TEXT-DECORATION: none
}
.f_fff_13_b {
	COLOR: #fff; FONT-SIZE: 13px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.f_fff_13_b A:link {
	COLOR: #fff; TEXT-DECORATION: none
}
.f_fff_13 A:visited {
	COLOR: #fff; TEXT-DECORATION: none
}
.f_fff_13_b A:hover {
	COLOR: #fff; TEXT-DECORATION: underline
}
.f_666_12 {
	COLOR: #666; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.f_666_12 A:link {
	COLOR: #666; TEXT-DECORATION: none
}
.f_666_12 A:visited {
	COLOR: #666; TEXT-DECORATION: none
}
.f_666_12 A:hover {
	COLOR: #000; TEXT-DECORATION: underline
}
.f_999_12 {
	COLOR: #999; FONT-SIZE: 12px; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.f_999_12 A:link {
	COLOR: #999; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.f_999_12 A:visited {
	COLOR: #999; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.f_999_12 A:hover {
	COLOR: #000; FONT-WEIGHT: normal; TEXT-DECORATION: underline
}
.f_666_12_u {
	COLOR: #666; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.f_666_12_u A:link {
	COLOR: #666; TEXT-DECORATION: underline
}
.f_666_12_u A:visited {
	COLOR: #666; TEXT-DECORATION: underline
}
.f_666_12_u A:hover {
	COLOR: #000; TEXT-DECORATION: underline
}
.f_red_12 {
	COLOR: #cd131b; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.f_red_12 A:link {
	COLOR: #cd131b; TEXT-DECORATION: none
}
.f_red_12 A:visited {
	COLOR: #cd131b; TEXT-DECORATION: none
}
.f_red_12 A:hover {
	COLOR: #cd131b; TEXT-DECORATION: underline
}
.f_red_12b {
	COLOR: #cd131b; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.f_red_13 {
	COLOR: #cd131b; FONT-SIZE: 13px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.f_red_13 A:link {
	COLOR: #cd131b; TEXT-DECORATION: none
}
.f_red_13 A:visited {
	COLOR: #cd131b; TEXT-DECORATION: none
}
.f_red_13 A:hover {
	COLOR: #900; TEXT-DECORATION: underline
}
.f_red_13_b {
	COLOR: #cd131b; FONT-SIZE: 13px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.f_333_12 {
	COLOR: #333; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.f_333_12 A:link {
	COLOR: #333; TEXT-DECORATION: none
}
.f_333_12 A:visited {
	COLOR: #333; TEXT-DECORATION: none
}
.f_333_12 A:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
.f_FC0_13 {
	COLOR: #ffcc00; FONT-SIZE: 13px
}
.f_FC0_13 A:link {
	COLOR: #ffcc00; TEXT-DECORATION: none
}
.f_FC0_13 A:visited {
	COLOR: #ffcc00; TEXT-DECORATION: none
}
.f_FC0_13 A:hover {
	COLOR: #ff0000; TEXT-DECORATION: none
}
.navquick_left {
	WIDTH: 209px; BACKGROUND: url(../images/bg_banner.gif) repeat-x; FLOAT: left; HEIGHT: 23px
}
.navquick_right {
	FLOAT: left
}
.navquick_right SPAN {
	MARGIN-LEFT: 15px; MARGIN-RIGHT: 10px
}
.navquick_left .left {
	WIDTH: 209px; BACKGROUND: url(../images/bg_logo.gif) no-repeat 10px 0px; HEIGHT: 23px
}
.navquick_left .left .right {
	PADDING-LEFT: 60px; WIDTH: 149px; BACKGROUND: url(../images/bg_arrow.gif) no-repeat right 50%; HEIGHT: 23px
}
#navquick2 {
	BORDER-BOTTOM: #cccccc 1px solid; LINE-HEIGHT: 24px; HEIGHT: 23px; COLOR: #666666; FONT-SIZE: 12px; OVERFLOW: hidden; BORDER-TOP: #cccccc 1px solid
}
#navquick2 .navquick_left {
	WIDTH: 209px; BACKGROUND: url(../images/bg_banner.gif) repeat-x; FLOAT: left; HEIGHT: 23px
}
#navquick2 .navquick_right {
	PADDING-LEFT: 10px; FLOAT: left
}
#navquick2 .navquick_right SPAN {
	MARGIN: 0px
}
#navquick2 .navquick_left .left {
	WIDTH: 209px; BACKGROUND: url(../images/bg_logo.gif) no-repeat 10px 0px; HEIGHT: 23px
}
#navquick2 .navquick_left .left .right {
	PADDING-LEFT: 130px; WIDTH: 79px; BACKGROUND: url(../images/bg_arrow.gif) no-repeat right 50%; HEIGHT: 23px
}
#navquick2 .navquick_left2 {
	WIDTH: 137px; BACKGROUND: url(../images/bg_banner.gif) repeat-x; FLOAT: left; HEIGHT: 23px
}
#navquick2 .navquick_left2 .left {
	WIDTH: 137px; BACKGROUND: url(../images/bg_logo.gif) no-repeat 10px 0px; HEIGHT: 23px
}
#navquick2 .navquick_left2 .left .right {
	PADDING-LEFT: 70px; WIDTH: 69px; BACKGROUND: url(../images/bg_arrow.gif) no-repeat right 50%; HEIGHT: 23px
}
#area2 P {
	TEXT-ALIGN: left; LINE-HEIGHT: 20px; TEXT-INDENT: 24px; MARGIN: 15px auto; BACKGROUND: #fff; FONT-SIZE: 12px
}
#area2 DIV.title {
	BORDER-BOTTOM: #999 1px dashed; PADDING-BOTTOM: 5px; MARGIN: 20px 55px 0px
}
#area2 DIV.title P {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; LINE-HEIGHT: 30px; TEXT-INDENT: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#area2 DIV.title H1 {
	TEXT-ALIGN: center; LINE-HEIGHT: 30px; COLOR: #f00; FONT-SIZE: 16px; FONT-WEIGHT: bold
}
#area2 DIV#con {
	MARGIN: 15px auto; WIDTH: 700px
}
